Fridge.

User.name:
<%= user.name %>
</br>

<table class="contents" border="1">
<tr>
<th>Item Name</th>
<th>Amount on Hand</th>
<th>Added On</th>
<th>Expires On</th>
</tr>
<% for (var i=0; i<locals.items.length; i++) { %>
  <tr>
  <td><%= locals.items[i].name %></td>
  <td><%= locals.items[i].quantity %> <%= locals.items[i].quantity_unit %></td>
  <td><%= locals.items[i].purchase_date %></td>
  <td><%= locals.items[i].expiration %></td>
</tr>
<% } %>
</table>


<h2>Add Items:</h2>
<form action='/items' method="post">
  <fieldset>
    <label for="item">Item:</label>
    <input type="text" name="item" />
  </br>
    <label for="quantity">Amount of Item:</label>
    <input type="number" name="quantity"/>
  </br>
    <label for="unit">Unit:</label>
    <select name="unit">
      <option value="ounce">ounce(s)</option>
      <option value="cups">cup(s)</option>
      <option value="pint">pint(s)</option>
      <option value="quart">quart(s)</option>
      <option value="gallon">gallon(s)</option>
      <option value="mL">millilitre(s)</option>
      <option value="litre">litre(s)</option>
    </select>
  <input type="submit" value="Add" />
  </fieldset>
</form>
