<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>

 </header>
 <body>

   <h1>Welcome <%= user.name %>!</h1>
    <div class="nav">
      <h2>Score: <%= user.score %></h2>
      <a href="/logout" class="button">Logout</a>
    </div>

    <div class="dashboard">

      <form action='/recipes' method="post">
        <fieldset>
          <label for="items">How many items?</label>
          <input type="number" name="items" min="1" max="5" />
          <label for="options">How many options?</label>
          <input type="number" name="options" min="1" max="5" />
          <input type="submit" value="Play a Challenge!" />
        </fieldset>
      </form>
    </div>

    <div class="fridge">
      <h2>Add Items:</h2>
      <form action='/items' method="post">
        <fieldset>
          <label for="item">Item:</label>
          <input type="text" name="item" />
        </br>
          <label for="quantity">Amount of Item:</label>
          <input type="number" name="quantity"/>
        </br>
          <label for="unit">Unit:</label>
          <select name="unit">
            <option value="ounce(s)">ounce(s)</option>
            <option value="cups">cup(s)</option>
            <option value="pint">pint(s)</option>
            <option value="quart">quart(s)</option>
            <option value="gallon">gallon(s)</option>
          </select>
        </br>
          <label for="expiration">Expiration Date:</label>
          <input id="date-control" type="date" name="expiration" value="" required />
          <input type="submit" value="Add" />
        </fieldset>
      </form>

      <% if (locals.items) { %>
      <table class="contents" border="1">
        <tr>
          <th>Item Name</th>
          <th>Amount on Hand</th>
          <th>Added On</th>
          <th>Expires On</th>
        </tr>

        <% for (var i=0; i<locals.items.length; i++) { %>
          <tr>
            <td><%= locals.items[i].name %></td>
            <td><%= locals.items[i].quantity %> <%= locals.items[i].quantity_unit %></td>
            <td><%= locals.items[i].purchase_date.toLocaleDateString() %></td>
            <td><%= locals.items[i].expiration.toLocaleDateString() %></td>
          </tr>
          <% } %>
        </table>
        <% } %>
    </div>
  </body>
