<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header pull-left">
         <a class="navbar-brand" href="/">Welcome, <%= locals.user %>!</a>
         <p>Current Score: <%= locals.score %></p>
       </div>
       <div class="navbar-header navbar-right" id="right">
         <a href="/logout" class="navbar-link">log out</a>
       </div>
     </div>
   </nav>
 </header>
 <body>

<h1>Challenge!</h1>

<% if (locals.basic === true) { %>
  <div id="recipe-options">
    <h2>What would you like to make?</h2>
    <% for (var i in locals.recipes) { %>
      <% var possible = (locals.base_score * locals.recipes[i].usedIngredientCount) %>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody><tr>
          <td width="100%" style="padding-right: 10px; background-color: #f5f5f5; border-bottom: 1px solid black; border-top: 1px solid black;">
          <table cellpadding="0" cellspacing="0" boarder="0" width="100%">
        </tbody></tr>
          <td style="padding-top: 10px; padding-bottom: 10px;" onclick='window.location.href="recipes/<%=locals.recipes[i].id%>/<%=possible%>"' class="single">
            <div style="position: relative;" class="results">
              <div style="position: relative;">
                <table widith="100%">
                  <tbody><tr>
                    <td width="110px" valign="TOP" align="CENTER"><div style="min-width: 100px;"><img src="<%= locals.recipes[i].image %>" style="padding: 0px; margin: 5px; display: block; width:200px;"></div></td>
                    <td valign="TOP"><h2 style="padding-bottom: 5px;"><%= locals.recipes[i].title %></h2><div style="padding-bottom: 15px; padding-top: 5px;" class="details">Uses <%= locals.recipes[i].usedIngredientCount %> of <%= locals.itemNumber %> requested ingredients.</div><div class="points">Point value: <%= possible %></div></td>
                    <td nowrap="" align="RIGHT" valign="TOP" style="padding-top: 6px;"></td></tr>
                  </tbody></table>
              </div>
            </div>
            </table>
          </td>
      <% } %>
      </table>
    </div>

<% } else if (locals.advanced === true) { %>
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody><tr>
      <td width="100%" style="padding-right: 10px; background-color: #f5f5f5; border-bottom: 1px solid black; border-top: 1px solid black;">
      <table cellpadding="0" cellspacing="0" boarder="0" width="100%">
    </tbody></tr>
      <td style="padding-top: 10px; padding-bottom: 10px;">
        <div style="position: relative;" class="results">
          <div style="position: relative;">
            <table widith="100%">
              <tbody><tr>
                <td width="110px" valign="TOP" align="CENTER"><div style="min-width: 100px;"><img src="<%=locals.image%>" style="padding: 0px; margin: 5px; display: block; width:200px;"></div></td>
                <td valign="TOP"><h2 style="padding-bottom: 5px;"><%= locals.title %></h2><div style="padding-bottom: 15px; padding-top: 5px;" class="details">Prep-time: <%= locals.time %></div><div class="ingredients"><% for (var i=0; i<locals.ingredients.length; i++) { %>
                <li><%= locals.ingredients[i].inText %></li>
                <% } %></div><div class="instructions"><%- locals.instructions %>
                </div><div class="buttons">
                  <form action="/items/subtract" method="post">
                    <input type="hidden" value="<%=locals.id%>" name="recipe_id"/>
                    <input type="hidden" value="<%=locals.optionScore%>" name="recipe_score"/>
                    <input type="submit" value="I made this!" />
                  </form>
                  <a href="/profile" class="button">I don't want to make this! Take me back!</a>
                </div></td>
                <td nowrap="" align="RIGHT" valign="TOP" style="padding-top: 6px;"></td></tr>
              </tbody></table>
          </div>
        </div>
        </table>
      </td>
  </table>
</div>
  <% } else { %>
    <div class="manual-update">
      <form action="/items/manual" method="post">
        <fieldset>
          Great job! The recipe had some ingredients we couldn't find in your fridge. Can you let us know if we missed something? Select the correct fridge item for each ingredient.
          <table class="manual" border="1">
            <tr>
              <th>Ingredients</th>
              <th>Fridge Items</th>
              <th>Unit</th>
              <th>Amount Used</th>
            </tr>
            <% for (var i=0; i<locals.update.length; i++) { %>
              <tr>
                <td><%= locals.update[i].text %></td>
                <td>
                  <select name="item">
                    <option value="none">Not in my fridge!</option>
                    <% for (var ii=0; ii<locals.fridge.length; ii++) { %>
                      <option value="<%=locals.fridge[ii].id%>"><%=locals.fridge[ii].name%></option>
                    <% } %>
                  </select>
                </td>
                <td>
                  <select name="unit">
                    <option value="ounce(s)">ounce(s)</option>
                    <option value="cup(s)">cup(s)</option>
                    <option value="pint(s)">pint(s)</option>
                    <option value="quart(s)">quart(s)</option>
                    <option value="gallon(s)">gallon(s)</option>
                  </select>
                </td>
                <td>
                  <input type="number" name="quantity" />
                </td>
              </tr>
              <% } %>
          </table>
          <input type="submit" value="Update My Fridge!" />
        </fieldset>
      </form>
    </div>
    <% } %>
</body>
