<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header pull-left">
         <a class="navbar-brand" href="/">Welcome, <%= locals.user %>!</a>
         <p>Current Score: <%= locals.score %></p>
       </div>
       <div class="navbar-header navbar-right" id="right">
         <a href="/logout" class="navbar-link">log out</a>
       </div>
     </div>
   </nav>
 </header>
 <body>

<h1>Challenge!</h1>

<% if (locals.basic === true) { %>
  <div id="recipe-options">
    <h2>What would you like to make?</h2>
      <ul>
      <% for (var i in locals.recipes) { %>
        <% var possible = (locals.base_score * locals.recipes[i].usedIngredientCount) %>
        <div id="option-<%=i%>" onclick='window.location.href="recipes/<%=locals.recipes[i].id%>/<%=possible%>"'>
          <li id="option-image"><image src="<%= locals.recipes[i].image %>"></li>
          <li id="option-title"><%= locals.recipes[i].title %></li>
          <li id="option-uses">Uses <%= locals.recipes[i].usedIngredientCount %> of <%= locals.itemNumber %> requested ingredients.</li>
          <li id="option-score">Point value: <%= possible %></li>
        </div>
      <% } %>
      </ul>
    </div>

<% } else if (locals.advanced === true) { %>
  <div id="selected-recipe">
    <ul>
      <li id="selected-title"><%= locals.title %></li>
      <li id="selected-image"><img src="<%=locals.image%>"></li>
      <li id="selected-time">Prep-time: <%= locals.time %> Minutes</li>
      <li id="selected-ingredients">
        <ul id="selected-ingredient-list">
          <% for (var i=0; i<locals.ingredients.length; i++) { %>
          <li><%= locals.ingredients[i].inText %></li>
          <% } %>
        </ul>
      </li>
      <li id="selected-instructions"><%- locals.instructions %></li>
    </ul>
    <form action="/items/subtract" method="post">
      <input type="hidden" value="<%=locals.id%>" name="recipe_id"/>
      <input type="hidden" value="<%=locals.optionScore%>" name="recipe_score"/>
      <input type="submit" value="I made this!" />
    </form>
    <a href="/profile" class="button">I don't want to make this! Take me back!</a>
  </div>
  <% } else { %>
    <div class="manual-update">
      <form action="/items/manual" method="post">
        <fieldset>
          Great job! The recipe had some ingredients we couldn't find in your fridge. Can you let us know if we missed something? Select the correct fridge item for each ingredient.
          <table class="manual" border="1">
            <tr>
              <th>Ingredients</th>
              <th>Fridge Items</th>
              <th>Unit</th>
              <th>Amount Used</th>
            </tr>
            <% for (var i=0; i<locals.update.length; i++) { %>
              <tr>
                <td><%= locals.update[i].text %></td>
                <td>
                  <select name="item">
                    <option value="none">Not in my fridge!</option>
                    <% for (var ii=0; ii<locals.fridge.length; ii++) { %>
                      <option value="<%=locals.fridge[ii].id%>"><%=locals.fridge[ii].name%></option>
                    <% } %>
                  </select>
                </td>
                <td>
                  <select name="unit">
                    <option value="ounce(s)">ounce(s)</option>
                    <option value="cup(s)">cup(s)</option>
                    <option value="pint(s)">pint(s)</option>
                    <option value="quart(s)">quart(s)</option>
                    <option value="gallon(s)">gallon(s)</option>
                  </select>
                </td>
                <td>
                  <input type="number" name="quantity" />
                </td>
              </tr>
              <% } %>
          </table>
          <input type="submit" value="Update My Fridge!" />
        </fieldset>
      </form>
    </div>
    <% } %>
</body>
