<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header pull-left">
         <a class="navbar-brand" href="/">Welcome, <%= locals.user %>!</a>
         <p>Current Score: <%= locals.score %></p>
       </div>
       <div class="navbar-header navbar-right" id="right">
         <a href="/logout" class="navbar-link">log out</a>
       </div>
     </div>
   </nav>
 </header>
 <body>

<h1>Challenge!</h1>

<% if (locals.basic === true) { %>
  <div id="recipe-options">
    <h2>What would you like to make?</h2>
    <% for (var i in locals.recipes) { %>
      <% var possible = (locals.base_score + (locals.recipes[i].usedIngredientCount * 100)) %>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody><tr>
          <td class="top" width="100%">
          <table cellpadding="0" cellspacing="0" boarder="0" width="100%">
        </tbody></tr>
          <td class="second" onclick='window.location.href="recipes/<%=locals.recipes[i].id%>/<%=possible%>"' class="single">
            <div class="results">
              <div class="results-two">
                <table widith="100%">
                  <tbody>
                    <tr>
                      <td width="110px" valign="TOP" align="CENTER">
                        <div class="result-option">
                          <img src="<%= locals.recipes[i].image %>">
                        </div>
                      </td>
                      <td valign="TOP">
                        <h2 class="table-2"><%= locals.recipes[i].title %></h2>
                        <div class="details">Uses <%= locals.recipes[i].usedIngredientCount %> of <%= locals.itemNumber %> requested ingredients.</div>
                        <div class="points">Point value: <%= possible %></div>
                      </td>
                      <td nowrap="" align="RIGHT" valign="TOP" style="padding-top: 6px;"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </table>
        </td>
      <% } %>
    </table>
  </div>

<% } else if (locals.advanced === true) { %>
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
      <tr>
        <td class="top" width="100%">
          <table cellpadding="0" cellspacing="0" boarder="0" width="100%">
    </tbody></tr>
      <td class="second-again">
        <div class="results">
          <div class="results-two">
            <table widith="100%">
              <tbody>
                <tr>
                  <td width="110px" valign="TOP" align="CENTER">
                    <div class="result-option">
                      <img src="<%=locals.image%>">
                    </div>
                  </td>
                  <td valign="TOP">
                    <h2 class="table-2"><%= locals.title %></h2>
                      <div class="details">Prep-time: <%= locals.time %></div>
                      <div class="ingredients">
                        <% for (var i=0; i<locals.ingredients.length; i++) { %>
                          <li><%= locals.ingredients[i].inText %></li>
                        <% } %>
                      </div>
                      <div class="instructions"><%- locals.instructions %></div>
                      <div class="buttons">
                        <form action="/items/subtract" method="post">
                          <input type="hidden" value="<%=locals.id%>" name="recipe_id"/>
                          <input type="hidden" value="<%=locals.optionScore%>" name="recipe_score"/>
                          <input type="submit" value="I made this!" />
                        </form>
                        <a href="/profile" class="button">I don't want to make this! Take me back!</a>
                      </div>
                    </td>
                    <td nowrap="" align="RIGHT" valign="TOP" style="padding-top: 6px;"></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </table>
    </td>
  </table>
</div>
  <% } else { %>
    <div class="form-group">
      <form action="/items/manual" method="post">
        <fieldset>
          Great job! The recipe had some ingredients we couldn't find in your fridge. Can you let us know if we missed something? Select the correct fridge item for each ingredient.
          <table class="table table-striped" border="1">
            <thead>
              <tr>
                <th>Ingredients</th>
                <th>Fridge Items</th>
                <th>Unit</th>
                <th>Amount Used</th>
              </tr>
          </thead>
            <% for (var i=0; i<locals.update.length; i++) { %>
              <tbody>
                <tr>
                  <td><%= locals.update[i].text %></td>
                  <td>
                    <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" name="item">
                      <option value="none">Not in my fridge!</option>
                      <% for (var ii=0; ii<locals.fridge.length; ii++) { %>
                        <option value="<%=locals.fridge[ii].id%>"><%=locals.fridge[ii].name%></option>
                      <% } %>
                    </select>
                  </td>
                  <td>
                    <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" name="unit">
                      <option value="ounce(s)">ounce(s)</option>
                      <option value="cup(s)">cup(s)</option>
                      <option value="pint(s)">pint(s)</option>
                      <option value="quart(s)">quart(s)</option>
                      <option value="gallon(s)">gallon(s)</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" name="quantity" />
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <input class="submit" type="submit" value="Update My Fridge!" />
        </fieldset>
      </form>
    </div>
    <% } %>
  </body>
</html>
