<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>

 </header>
 <body>

<h1>Challenge!</h1>

<% if (locals.basic === true) { %>
  <div id="recipe-options">
    <h2>What would you like to make?</h2>
      <ul>
      <% for (var i in locals.recipes) { %>
        <div id="option-<%=i%>" onclick='window.location.href="recipes/<%=locals.recipes[i].id%>"'>
          <li id="option-image"><image src="<%= locals.recipes[i].image %>"></li>
          <li id="option-title"><%= locals.recipes[i].title %></li>
          <li id="option-uses">Uses <%= locals.recipes[i].usedIngredientCount %> of <%= locals.itemNumber %> requested ingredients.</li>
        </div>
      <% } %>
      </ul>
    </div>

<% } else { %>
  <div id="selected-recipe">
    <ul>
      <li id="selected-title"><%= locals.title %></li>
      <li id="selected-image"><img src="<%=locals.image%>"></li>
      <li id="selected-time">Prep-time: <%= locals.time %> Minutes</li>
      <li id="selected-ingredients">
        <ul id="selected-ingredient-list">
          <% for (var i=0; i<locals.ingredients.length; i++) { %>
          <li><%= locals.ingredients[i].inText %></li>
          <% } %>
        </ul>
      </li>
      <li id="selected-instructions"><%= locals.instructions %></li>
    </ul>
    <form action="/items/subtract" method="post">
      <input type="hidden" value="<%=locals.id%>" name="butts"/>
      <input type="submit" value="I made this!" />
    </form>
    <a href="favorite" class="button">Save this recipe for me to make again!</a>
    <a href="/profile" class="button">I don't want to make this! Take me back!</a>
  </div>
  <% } %>

</body>
